<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>
    <link href="/asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">

    <link href="/asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}" rel="stylesheet">

    <script type="text/javascript" src="/asserts/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script type="text/javascript" src="/asserts/js/popper.min.js" th:src="@{/webjars/popper.js/1.11.1/dist/popper.js}"></script>
    <script type="text/javascript" src="/asserts/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.js}"></script>

    <link href="/asserts/css/bootstrap-table.css" rel="stylesheet">
    <script type="text/javascript" src="/asserts/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="/asserts/js/bootstrap-table-zh-CN.js"></script>

    <!-- Icons -->
    <script type="text/javascript" src="/asserts/js/feather.min.js" th:src="@{/asserts/js/feather.min.js}"></script>

    <!-- Graphs -->
    <script type="text/javascript" src="/asserts/js/Chart.min.js" th:src="@{/asserts/js/Chart.min.js}"></script>
    <script>
        var curPath = window.document.location.href;
        //获取主机地址之后的目录，如： test/test.jsp
        var pathName = window.document.location.pathname;
        var pos = curPath.indexOf(pathName);
        //获取主机地址，如： http://localhost:8088
        var basePath = curPath.substring(0, pos);
        feather.replace()
    </script>
</head>
